html {
  font-size: 18px;
}

body{
  font-family: "Montserrat";
}

h5 {
  margin: 15px 0;
}

hr.style-one {
  border: 0;
  height: 1px;
  background: #fff;
}

hr.style-two {
  border: 0;
  height: 5px;
  width: 30%;
  margin-left: 0;
  background: #f3d250;
}

.nav-bar {
  height: 100%;
  width: 15%;
  position:fixed;
  top: 0;
  left: 0;
  background-color: #f3d250;
}

.logo {
  font-size: 20px;
  border-style: solid;
  margin: 30px 40px 80px;
  text-align: center;
  color: #fff;
}

.nav-content, .nav-links{
  padding: 20px 20px 50px 40px;
  line-height:2;
}


.nav-bar a {
  display:block;
  color: inherit;
  text-decoration: none;
}

.nav-bar a:hover {
  color: #fff;
}

.nav-footer {
  font-size: 10px;
  position: fixed;
  left: 30px;
  bottom: 20px;
  color: #fff;
}

.main {
  height: 100%;
  width: 55%;
  position:fixed;
  top: 0;
  left: 15%;
  background-color: #bab2b5;
}

.caption {
  z-index: 1;
  position: fixed;
  left: 20%;
  bottom: 20%;
  color: #fff;
}

.caption h1 {
  font-size: 40px;
}

.about{
  height: 100%;
  width: 30%;
  position:fixed;
  top: 0;
  left: 70%;
  background-color: whitesmoke;
}
.about-text{
  margin: auto 30px;
}
